.homepage-anon {
  margin: auto;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.signup {
  margin: auto;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.login {
  margin: auto;
  padding: 10px;
  width: 50%;
  text-align: center;
}

body {
   background-image: url("https://wallpaperaccess.com/full/201993.jpg");
   width: 100%;
   height: 100%;
}