{% extends 'base.html' %}
{% block content %}

<div class="login">
    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors  %}
            <span class="text-danger">{{ error }}</span>
            {% endfor%}
            {{ field(placeholder=field.label.text, class='form-control')}}
        {% endfor %}
        <br>
        <span>
            <button class="btn btn-outline-dark btn-md">Login</button>
            <a href="/signup" class="btn btn-outline-secondary">Sign Up</a>
        </span>
    </form>
</div>

{% endblock %}